In [42]:
import pandas as pd

file_path = 'datos_apartamentos_rent.csv'

df = pd.read_csv(file_path, encoding='cp1252', sep=';')
df.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,...,$790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,...,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,...,"$1,390",Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,...,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,...,$880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401

## Eliminar datos duplicados

In [43]:
df_cleaned = df.copy() 
df_regresion = df.copy()
df_cleaned = df.drop_duplicates()
df_cleaned.duplicated().sum()

print(f"Number of rows before cleaning: {len(df)}")
print(f"Number of rows after cleaning: {len(df_cleaned)}")

Number of rows before cleaning: 10000
Number of rows after cleaning: 10000

## Eliminar datos vacíos

In [44]:
df_cleaned = df_cleaned.dropna()
print(f"Number of rows after removing empty data: {len(df_cleaned)}")

Number of rows after removing empty data: 2570

## Categorizacion de texto a numerico:

In [45]:
import numpy as np

df_regresion['pets_allowed'] = df_regresion['pets_allowed'].replace(
    {None: 0, np.nan: 0, 'Cats': 1, 'Dogs': 1, 'Cats,Dogs': 1}
).astype(int)
df_regresion.head(50)['pets_allowed']

C:\Users\marti\AppData\Local\Temp\ipykernel_7720\3099819869.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_regresion['pets_allowed'] = df_regresion['pets_allowed'].replace(

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    1
16    1
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    1
39    0
40    1
41    1
42    0
43    0
44    1
45    1
46    1
47    0
48    1
49    1
Name: pets_allowed, dtype: int32

In [46]:
df_regresion['has_photo'] = df_regresion['has_photo'].replace(
    {'Thumbnail': 1, 'Yes': 1, 'No': 0}
).astype(int)
df_regresion.head(50)['pets_allowed']

C:\Users\marti\AppData\Local\Temp\ipykernel_7720\2212266322.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_regresion['has_photo'] = df_regresion['has_photo'].replace(

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    1
16    1
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    1
39    0
40    1
41    1
42    0
43    0
44    1
45    1
46    1
47    0
48    1
49    1
Name: pets_allowed, dtype: int32

## Columnas Necesarias Para La Regresión

In [47]:
indices = df.columns.values.tolist()
#print(indices)
columnas = ['bathrooms', 'bedrooms' ,'has_photo', 'pets_allowed', 'square_feet', 'state', 'source','price']
Columnas_eliminar = list(set(indices) - set(columnas))
print(Columnas_eliminar)

['currency', 'time', 'body', 'fee', 'longitude', 'amenities', 'price_type', 'price_display', 'id', 'category', 'latitude', 'address', 'title', 'cityname']

In [48]:
df_regresion = df_regresion.drop(columns=Columnas_eliminar)
df_regresion.head()

,bathrooms,bedrooms,has_photo,pets_allowed,price,square_feet,state,source
0,NaN,0.0,1,0,790,101,DC,RentLingo
1,NaN,1.0,1,0,425,106,IN,RentLingo
2,1.0,0.0,1,0,1390,107,VA,RentLingo
3,1.0,0.0,1,0,925,116,WA,RentLingo
4,NaN,0.0,1,0,880,125,VA,RentLingo

## Eliminar Datos Vacíos Para La Regresión

In [49]:
indices = df.index.tolist()
df_regresion = df_regresion.dropna()
print(f"Number of rows after removing empty data: {len(df_regresion)}")

Number of rows after removing empty data: 9883

## Eliminar datos atipicos

Se observa que la variable objetivo tiene ciertos valores atípicos, lo que puede dificultar en análisis. Para mejorar la calidad de los resultados, se aplicará una técnica de ajuste basada en el diagrama de caja y bigotes. Específicamente, se utilizará la siguiente fórmula para determinar el valor máximo esperado:

**Valor Máximo = Q3 + 1.5 × (Q3 - Q1)**

donde **Q1** y **Q3** representan el primer y tercer cuartil, respectivamente. Esta fórmula permite identificar y ajustar los valores atípicos, optimizando así el análisis.

In [50]:
q1 = df_regresion["price"].quantile(0.25)
q3 = df_regresion["price"].quantile(0.75)
umbral = q3 + (q3 - q1) * 1.5
umbral

2814.0

In [54]:
cantidadRSMenoresAlUmbral = (df_regresion['price'] < umbral).sum()
porcentajeRSMenoresAlUmbral = 100 * cantidadRSMenoresAlUmbral / len(df_regresion['price'])

print(f'Cantidad de precios menores a {umbral}: {cantidadRSMenoresAlUmbral}')
print(f'Porcentaje de precios menores a {umbral}: {porcentajeRSMenoresAlUmbral:.2f}%')

Cantidad de precios menores a 2814.0: 9274
Porcentaje de precios menores a 2814.0: 93.84%

In [55]:
df_regresion = df_regresion.loc[df_regresion['price'] <= umbral]
df_regresion = df_regresion.loc[df_regresion['price'].index]

In [56]:
df_regresion

,bathrooms,bedrooms,has_photo,pets_allowed,price,square_feet,state,source
2,1.0,0.0,1,0,1390,107,VA,RentLingo
3,1.0,0.0,1,0,925,116,WA,RentLingo
5,1.0,0.0,1,0,2475,130,NY,Listanza
8,1.0,0.0,1,0,1495,138,CA,RentLingo
14,1.0,0.0,1,0,1695,190,CA,RentLingo
...,...,...,...,...,...,...,...,...
9969,4.0,5.0,1,1,2599,3966,SC,RentLingo
9971,3.5,5.0,1,1,2550,4000,MD,RentLingo
9979,4.5,4.0,1,0,2500,4500,VA,RentLingo
9982,3.5,5.0,1,1,2395,4614,TX,RentLingo
9999,1.0,1.0,0,0,1009,880,GA,RentDigs.com

## Volver a Dummies las categoricas