In [2]:
import pandas as pd

file_path = 'datos_apartamentos_rent.csv'

df = pd.read_csv(file_path, encoding='cp1252', sep=';')
df.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,...,$790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,...,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,...,"$1,390",Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,...,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,...,$880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401

Eliminar datos duplicados

In [3]:
df_cleaned = df.copy() 
df_cleaned = df.drop_duplicates()
df_cleaned.duplicated().sum()

print(f"Number of rows before cleaning: {len(df)}")
print(f"Number of rows after cleaning: {len(df_cleaned)}")

Number of rows before cleaning: 10000
Number of rows after cleaning: 10000

Eliminar datos vacíos

In [4]:
df_cleaned = df_cleaned.dropna()
print(f"Number of rows after removing empty data: {len(df_cleaned)}")

Number of rows after removing empty data: 2570

In [5]:
df_cleaned

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
16,5654898031,housing/rent/apartment,Studio Cottage 214,"New Bern Studio includes : 1 bedrooms, 1 micro...","AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,USD,No,Thumbnail,...,"$1,560",Monthly,200,180 Moonlight Lake Drive,New Bern,NC,35.0960,-77.0272,RentDigs.com,1576406273
40,5668625234,housing/rent/apartment,Studio apartment 420 W. Fullerton Pkwy,"This unit is located at 420 W. Fullerton Pkwy,...","Cable or Satellite,Dishwasher,Internet Access,...",1.0,1.0,USD,No,Thumbnail,...,$942,Monthly,225,420 W Fullerton Parkway,Chicago,IL,41.8625,-87.6825,RentLingo,1577359301
46,5668612110,housing/rent/apartment,Studio apartment 925 Geary Street,"This unit is located at 925 Geary Street, San ...","Dishwasher,Refrigerator",1.0,0.0,USD,No,Thumbnail,...,"$1,695",Monthly,232,925 Geary St,San Francisco,CA,37.7599,-122.4379,RentLingo,1577358464
50,5668620457,housing/rent/apartment,Studio apartment 3321 Eureka St,"This unit is located at 3321 Eureka St, Anchor...",Dishwasher,1.0,1.0,USD,No,Thumbnail,...,$705,Monthly,245,3321 Eureka St,Anchorage,AK,61.1723,-149.8414,RentLingo,1577359000
146,5668620019,housing/rent/apartment,Studio apartment 4117 University Ave,"This unit is located at 4117 University Ave, C...","Internet Access,Parking,Refrigerator",1.0,0.0,USD,No,Thumbnail,...,$695,Monthly,250,4117 University Avenue,Cedar Falls,IA,42.5286,-92.4509,RentLingo,1577358970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9967,5668626929,housing/rent/apartment,Six BR 16609 Northeast 47th Street,This unit is located at 16609 Northeast 47th S...,"Dishwasher,Refrigerator",4.0,6.0,USD,No,Thumbnail,...,"$7,000",Monthly,3820,16609 Northeast 47th St,Redmond,WA,47.6767,-122.0799,RentLingo,1577359417
9969,5668617167,housing/rent/apartment,Five BR 302 Bronze Drive,"This unit is located at 302 Bronze Drive, Lexi...","Dishwasher,Refrigerator",4.0,5.0,USD,No,Thumbnail,...,"$2,599",Monthly,3966,302 Bronze Dr,Lexington,SC,33.9531,-81.2381,RentLingo,1577358774
9985,5659898574,housing/rent/apartment,Five BR 55 West 10th Avenue,"This unit is located at 55 West 10th Avenue, C...","Dishwasher,Parking,Patio/Deck,Refrigerator",4.0,5.0,USD,No,Thumbnail,...,"$4,200",Monthly,4736,55 West 10th Ave,Columbus,OH,39.9974,-82.9829,RentLingo,1576666449
9990,5659901599,housing/rent/apartment,Four BR 864 Teakwood Rd,"This unit is located at 864 Teakwood Rd, Los A...","Dishwasher,Parking,Pool,Refrigerator",5.0,4.0,USD,No,Thumbnail,...,"$19,500",Monthly,5000,864 Teakwood Road,Los Angeles,CA,34.0372,-118.2972,RentLingo,1576666648
9993,5668627239,housing/rent/apartment,Five BR 18605 Avenue Monaco,"This unit is located at 18605 Avenue Monaco, L...","Dishwasher,Pool,Refrigerator",5.0,5.0,USD,No,Thumbnail,...,"$6,900",Monthly,5700,18605 Ave,Lutz,FL,28.1253,-82.4468,RentLingo,1577359442