In [13]:
import pandas as pd

file_path = 'datos_apartamentos_rent.csv'

df = pd.read_csv(file_path, encoding='cp1252', sep=';')
df.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,...,$790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,...,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,...,"$1,390",Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,...,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,...,$880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401

Eliminar datos duplicados

In [14]:
df_cleaned = df.copy() 
df_regresion = df.copy()
df_cleaned = df.drop_duplicates()
df_cleaned.duplicated().sum()

print(f"Number of rows before cleaning: {len(df)}")
print(f"Number of rows after cleaning: {len(df_cleaned)}")

Number of rows before cleaning: 10000
Number of rows after cleaning: 10000

Eliminar datos vacíos

In [5]:
df_cleaned = df_cleaned.dropna()
print(f"Number of rows after removing empty data: {len(df_cleaned)}")

Number of rows after removing empty data: 2570

Inpunt pets_allowed

In [16]:
import numpy as np

df_regresion['pets_allowed'] = df_regresion['pets_allowed'].replace(
    {None: 0, np.nan: 0, 'Cats': 1, 'Dogs': 1, 'Cats,Dogs': 1}
).astype(int)
df_regresion.head(50)['pets_allowed']

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    1
16    1
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    1
39    0
40    1
41    1
42    0
43    0
44    1
45    1
46    1
47    0
48    1
49    1
Name: pets_allowed, dtype: int64

Eliminar Datos Vacíos Para La Regresión

In [17]:
df_regresion = df_regresion.dropna()
print(f"Number of rows after removing empty data: {len(df_regresion)}")

Number of rows after removing empty data: 3649

Columnas Necesarias Para La Regresión

In [20]:
columnas = ['bathrooms', 'has_photo', 'pets_allowed', 'price', 'square_feet', 'state', 'source']
df_regresion = df_regresion[columnas]
df_regresion.head()

    bathrooms  has_photo  pets_allowed  price  square_feet state        source
5         1.0  Thumbnail             0   2475          130    NY      Listanza
8         1.0  Thumbnail             0   1495          138    CA     RentLingo
14        1.0  Thumbnail             0   1695          190    CA     RentLingo
16        1.0  Thumbnail             1   1560          200    NC  RentDigs.com
21        1.0  Thumbnail             0    544          200    FL     RentLingo