In [318]:
import pandas as pd

file_path = 'datos_apartamentos_rent.csv'

df = pd.read_csv(file_path, encoding='cp1252', sep=';')
df.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,...,$790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,...,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,...,"$1,390",Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,...,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,...,$880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401

## Eliminar datos duplicados

In [319]:
df_cleaned = df.copy() 
df_regresion = df.copy()
df_wili = df.copy()
df_cleaned = df.drop_duplicates()
df_cleaned.duplicated().sum()

print(f"Number of rows before cleaning: {len(df)}")
print(f"Number of rows after cleaning: {len(df_cleaned)}")

Number of rows before cleaning: 10000
Number of rows after cleaning: 10000

## Eliminar datos vacíos

In [320]:
df_cleaned = df_cleaned.dropna()
print(f"Number of rows after removing empty data: {len(df_cleaned)}")

Number of rows after removing empty data: 2570

## Categorizacion de texto a numerico:

In [321]:
import numpy as np

df_wili['pets_allowed'] = df_wili['pets_allowed'].replace(
    {None: 0, np.nan: 0, 'Cats': 1, 'Dogs': 1, 'Cats,Dogs': 1}
).astype(int)
df_wili.head(50)['pets_allowed'] 


df_regresion['pets_allowed'] = df_regresion['pets_allowed'].replace(
    {None: 0, np.nan: 0, 'Cats': 1, 'Dogs': 1, 'Cats,Dogs': 1}
).astype(int)
df_regresion.head(50)['pets_allowed']

C:\Users\marti\AppData\Local\Temp\ipykernel_19152\3523964306.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_wili['pets_allowed'] = df_wili['pets_allowed'].replace(
C:\Users\marti\AppData\Local\Temp\ipykernel_19152\3523964306.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_regresion['pets_allowed'] = df_regresion['pets_allowed'].replace(

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    1
16    1
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    1
39    0
40    1
41    1
42    0
43    0
44    1
45    1
46    1
47    0
48    1
49    1
Name: pets_allowed, dtype: int32

In [322]:
df_regresion['has_photo'] = df_regresion['has_photo'].replace(
    {'Thumbnail': 1, 'Yes': 1, 'No': 0}
).astype(int)
df_regresion.head(50)['pets_allowed']

C:\Users\marti\AppData\Local\Temp\ipykernel_19152\2212266322.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_regresion['has_photo'] = df_regresion['has_photo'].replace(

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    1
16    1
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    1
39    0
40    1
41    1
42    0
43    0
44    1
45    1
46    1
47    0
48    1
49    1
Name: pets_allowed, dtype: int32

## Columnas Necesarias Para La Regresión

In [323]:
indices = df.columns.values.tolist()
indices_text = df.columns.values.tolist()
#print(indices)
columnas = ['bathrooms', 'bedrooms' ,'has_photo', 'pets_allowed', 'square_feet', 'state', 'source','price']
Columnas_eliminar = list(set(indices) - set(columnas))
print(Columnas_eliminar)


columnas_text = ['title','body','price']
Columnas_eliminar_text = list(set(indices_text) - set(columnas_text))
print(Columnas_eliminar_text)

['title', 'cityname', 'longitude', 'category', 'id', 'fee', 'latitude', 'address', 'time', 'body', 'amenities', 'price_type', 'price_display', 'currency']
['longitude', 'id', 'pets_allowed', 'address', 'source', 'price_type', 'price_display', 'currency', 'cityname', 'category', 'fee', 'latitude', 'has_photo', 'bedrooms', 'time', 'bathrooms', 'amenities', 'state', 'square_feet']

In [324]:
df_wili = df_wili.drop(columns=['amenities', 'address'])
df_wili.head()

,id,category,title,body,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,0.0,USD,No,Thumbnail,0,790,$790,Monthly,101,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,1.0,USD,No,Thumbnail,0,425,$425,Monthly,106,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",1.0,0.0,USD,No,Thumbnail,0,1390,"$1,390",Monthly,107,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",1.0,0.0,USD,No,Thumbnail,0,925,$925,Monthly,116,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,0.0,USD,No,Thumbnail,0,880,$880,Monthly,125,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401

In [325]:
df_text = df_regresion.copy()
df_text = df_text.drop(columns=Columnas_eliminar_text)
df_text.head()

,title,body,price
0,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",790
1,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",425
2,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",1390
3,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",925
4,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",880

In [326]:
df_regresion = df_regresion.drop(columns=Columnas_eliminar)
df_regresion.head()

,bathrooms,bedrooms,has_photo,pets_allowed,price,square_feet,state,source
0,NaN,0.0,1,0,790,101,DC,RentLingo
1,NaN,1.0,1,0,425,106,IN,RentLingo
2,1.0,0.0,1,0,1390,107,VA,RentLingo
3,1.0,0.0,1,0,925,116,WA,RentLingo
4,NaN,0.0,1,0,880,125,VA,RentLingo

## Eliminar Datos Vacíos Para La Regresión

In [327]:
indices = df.index.tolist()
df_regresion = df_regresion.dropna()
print(f"Number of rows after removing empty data: {len(df_regresion)}")

Number of rows after removing empty data: 9883

In [328]:
indices = df.index.tolist()
df_wili = df_wili.dropna()
print(f"Number of rows after removing empty data: {len(df_wili)}")

Number of rows after removing empty data: 9883

## Eliminar datos atipicos

**Atipicos de price**

Se observa que la variable objetivo tiene ciertos valores atípicos, lo que puede dificultar en análisis. Para mejorar la calidad de los resultados, se aplicará una técnica de ajuste basada en el diagrama de caja y bigotes. Específicamente, se utilizará la siguiente fórmula para determinar el valor máximo esperado:

Valor Máximo = Q3 + 1.5 × (Q3 - Q1)

donde **Q1** y **Q3** representan el primer y tercer cuartil, respectivamente. Esta fórmula permite identificar y ajustar los valores atípicos, optimizando así el análisis.

In [329]:
q1 = df_regresion["price"].quantile(0.25)
q3 = df_regresion["price"].quantile(0.75)
umbral = q3 + (q3 - q1) * 1.5
umbral

2814.0

In [330]:
cantidadRSMenoresAlUmbral = (df_regresion['price'] < umbral).sum()
porcentajeRSMenoresAlUmbral = 100 * cantidadRSMenoresAlUmbral / len(df_regresion['price'])

print(f'Cantidad de precios menores a {umbral}: {cantidadRSMenoresAlUmbral}')
print(f'Porcentaje de precios menores a {umbral}: {porcentajeRSMenoresAlUmbral:.2f}%')

Cantidad de precios menores a 2814.0: 9274
Porcentaje de precios menores a 2814.0: 93.84%

In [331]:
df_wili = df_wili.loc[df_wili['price'] <= umbral]
df = df_wili.loc[df_wili['price'].index]

In [332]:
df_wili

,id,category,title,body,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,cityname,state,latitude,longitude,source,time
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",1.0,0.0,USD,No,Thumbnail,0,1390,"$1,390",Monthly,107,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",1.0,0.0,USD,No,Thumbnail,0,925,$925,Monthly,116,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
5,5667891676,housing/rent/apartment,0 BR in New York NY 10019,**RARE GEM WITH PRIVATE OUTDOOR TERRACE****AVA...,1.0,0.0,USD,No,Thumbnail,0,2475,"$2,475",Monthly,130,Manhattan,NY,40.7629,-73.9885,Listanza,1577289784
8,5668610290,housing/rent/apartment,Studio apartment 333 Hyde St,"This unit is located at 333 Hyde St, San Franc...",1.0,0.0,USD,No,Thumbnail,0,1495,"$1,495",Monthly,138,San Francisco,CA,37.7599,-122.4379,RentLingo,1577358313
14,5664571820,housing/rent/apartment,Studio apartment 57 Taylor Street,"This unit is located at 57 Taylor Street, San ...",1.0,0.0,USD,No,Thumbnail,0,1695,"$1,695",Monthly,190,San Francisco,CA,37.7599,-122.4379,RentLingo,1577015121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9969,5668617167,housing/rent/apartment,Five BR 302 Bronze Drive,"This unit is located at 302 Bronze Drive, Lexi...",4.0,5.0,USD,No,Thumbnail,1,2599,"$2,599",Monthly,3966,Lexington,SC,33.9531,-81.2381,RentLingo,1577358774
9971,5664596757,housing/rent/apartment,Five BR 1921 Constitution Drive,This unit is located at 1921 Constitution Driv...,3.5,5.0,USD,No,Thumbnail,1,2550,"$2,550",Monthly,4000,Saint Leonard,MD,38.4417,-76.5173,RentLingo,1577017016
9979,5664597936,housing/rent/apartment,Four BR 1602 Greenwood Drive,"This unit is located at 1602 Greenwood Drive, ...",4.5,4.0,USD,No,Thumbnail,0,2500,"$2,500",Monthly,4500,Blacksburg,VA,37.2312,-80.4159,RentLingo,1577017128
9982,5668627076,housing/rent/apartment,Five BR 16411 Jadestone Terrace Ln,This unit is located at 16411 Jadestone Terrac...,3.5,5.0,USD,No,Thumbnail,1,2395,"$2,395",Monthly,4614,Houston,TX,29.7714,-95.4343,RentLingo,1577359429
9999,5509132540,housing/rent/apartment,Beautiful Lawrenceville Apartment for rent,"Square footage: 880 sq. feet, unit number: 150...",1.0,1.0,USD,No,No,0,1009,"$1,009",Monthly,880,Lawrenceville,GA,34.0072,-84.0034,RentDigs.com,1577362141

In [333]:
df_text = df_text.loc[df_text['price'] <= umbral]
df_text = df_text.loc[df_text['price'].index]

In [334]:
df_text

,title,body,price
0,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",790
1,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",425
2,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",1390
3,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",925
4,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",880
...,...,...,...
9969,Five BR 302 Bronze Drive,"This unit is located at 302 Bronze Drive, Lexi...",2599
9971,Five BR 1921 Constitution Drive,This unit is located at 1921 Constitution Driv...,2550
9979,Four BR 1602 Greenwood Drive,"This unit is located at 1602 Greenwood Drive, ...",2500
9982,Five BR 16411 Jadestone Terrace Ln,This unit is located at 16411 Jadestone Terrac...,2395
9999,Beautiful Lawrenceville Apartment for rent,"Square footage: 880 sq. feet, unit number: 150...",1009

In [335]:
df_regresion = df_regresion.loc[df_regresion['price'] <= umbral]
df_regresion = df_regresion.loc[df_regresion['price'].index]

In [336]:
df_regresion

,bathrooms,bedrooms,has_photo,pets_allowed,price,square_feet,state,source
2,1.0,0.0,1,0,1390,107,VA,RentLingo
3,1.0,0.0,1,0,925,116,WA,RentLingo
5,1.0,0.0,1,0,2475,130,NY,Listanza
8,1.0,0.0,1,0,1495,138,CA,RentLingo
14,1.0,0.0,1,0,1695,190,CA,RentLingo
...,...,...,...,...,...,...,...,...
9969,4.0,5.0,1,1,2599,3966,SC,RentLingo
9971,3.5,5.0,1,1,2550,4000,MD,RentLingo
9979,4.5,4.0,1,0,2500,4500,VA,RentLingo
9982,3.5,5.0,1,1,2395,4614,TX,RentLingo
9999,1.0,1.0,0,0,1009,880,GA,RentDigs.com

**Atipicos de square feet**

In [337]:
q1 = df_regresion["square_feet"].quantile(0.25)
q3 = df_regresion["square_feet"].quantile(0.75)
umbral = q3 + (q3 - q1) * 1.5
umbral

1687.5

In [338]:
cantidadRSMenoresAlUmbral = (df_regresion['square_feet'] < umbral).sum()
porcentajeRSMenoresAlUmbral = 100 * cantidadRSMenoresAlUmbral / len(df_regresion['square_feet'])

print(f'Cantidad de precios menores a {umbral}: {cantidadRSMenoresAlUmbral}')
print(f'Porcentaje de precios menores a {umbral}: {porcentajeRSMenoresAlUmbral:.2f}%')

Cantidad de precios menores a 1687.5: 8764
Porcentaje de precios menores a 1687.5: 94.50%

In [339]:
df_wili = df_wili.loc[df_wili['square_feet'] <= umbral]
df_wili = df_wili.loc[df_wili['square_feet'].index]
df_wili

,id,category,title,body,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,cityname,state,latitude,longitude,source,time
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",1.0,0.0,USD,No,Thumbnail,0,1390,"$1,390",Monthly,107,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",1.0,0.0,USD,No,Thumbnail,0,925,$925,Monthly,116,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
5,5667891676,housing/rent/apartment,0 BR in New York NY 10019,**RARE GEM WITH PRIVATE OUTDOOR TERRACE****AVA...,1.0,0.0,USD,No,Thumbnail,0,2475,"$2,475",Monthly,130,Manhattan,NY,40.7629,-73.9885,Listanza,1577289784
8,5668610290,housing/rent/apartment,Studio apartment 333 Hyde St,"This unit is located at 333 Hyde St, San Franc...",1.0,0.0,USD,No,Thumbnail,0,1495,"$1,495",Monthly,138,San Francisco,CA,37.7599,-122.4379,RentLingo,1577358313
14,5664571820,housing/rent/apartment,Studio apartment 57 Taylor Street,"This unit is located at 57 Taylor Street, San ...",1.0,0.0,USD,No,Thumbnail,0,1695,"$1,695",Monthly,190,San Francisco,CA,37.7599,-122.4379,RentLingo,1577015121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9277,5664575270,housing/rent/apartment,Three BR 6511 Grey Oaks,"This unit is located at 6511 Grey Oaks, Housto...",2.0,3.0,USD,No,Thumbnail,1,1299,"$1,299",Monthly,1680,Houston,TX,29.7714,-95.4343,RentLingo,1577015362
9278,5668629228,housing/rent/apartment,Three BR 3318 S Kings,"This unit is located at 3318 S Kings, Springfi...",2.0,3.0,USD,No,Thumbnail,1,1025,"$1,025",Monthly,1682,Springfield,MO,37.1892,-93.2908,RentLingo,1577359602
9279,5668622153,housing/rent/apartment,Four BR 2013 Mansker Drive,"This unit is located at 2013 Mansker Drive, Go...",2.0,4.0,USD,No,Thumbnail,1,1625,"$1,625",Monthly,1684,Goodlettsville,TN,36.3245,-86.7381,RentLingo,1577359106
9280,5668629202,housing/rent/apartment,Three BR 7721 Grey Goose Trl,"This unit is located at 7721 Grey Goose Trl, A...",2.0,3.0,USD,No,Thumbnail,1,1730,"$1,730",Monthly,1685,Arlington,TX,32.7025,-97.1196,RentLingo,1577359600
9999,5509132540,housing/rent/apartment,Beautiful Lawrenceville Apartment for rent,"Square footage: 880 sq. feet, unit number: 150...",1.0,1.0,USD,No,No,0,1009,"$1,009",Monthly,880,Lawrenceville,GA,34.0072,-84.0034,RentDigs.com,1577362141

In [340]:
df_regresion = df_regresion.loc[df_regresion['square_feet'] <= umbral]
df_regresion = df_regresion.loc[df_regresion['square_feet'].index]

In [341]:
df_regresion

,bathrooms,bedrooms,has_photo,pets_allowed,price,square_feet,state,source
2,1.0,0.0,1,0,1390,107,VA,RentLingo
3,1.0,0.0,1,0,925,116,WA,RentLingo
5,1.0,0.0,1,0,2475,130,NY,Listanza
8,1.0,0.0,1,0,1495,138,CA,RentLingo
14,1.0,0.0,1,0,1695,190,CA,RentLingo
...,...,...,...,...,...,...,...,...
9277,2.0,3.0,1,1,1299,1680,TX,RentLingo
9278,2.0,3.0,1,1,1025,1682,MO,RentLingo
9279,2.0,4.0,1,1,1625,1684,TN,RentLingo
9280,2.0,3.0,1,1,1730,1685,TX,RentLingo
9999,1.0,1.0,0,0,1009,880,GA,RentDigs.com

In [342]:
df_wili.to_csv("df_william.csv", index=False, encoding="cp1252")
df_regresion.to_csv("df_regresion.csv", index=False, encoding="cp1252")
df_text.to_csv("df_text.csv", index=False, encoding="cp1252")